.poppins {
    font-family: "Poppins", sans-serif;
}
.task-message{
    background-color: lightblue;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color:white;
    margin-bottom: 6px;
}
.question{
    background-color: white;
    border:none;
    border-radius:5px;
    padding: 10px;
}